<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container pos-rel">
    <div class="navbar-header">
      <a class="navbar-brand">
        Profile
      </a>
      <button type="submit" class="pull-right right vcenter btn-link" ng-click="proModel.update(proModel.user)">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </div>
  </div>
</nav>

<main class="container">
    <div ng-show="proModel.error" class="alert alert-danger" role="alert">
        {{proModel.error}}
    </div>

    <div ng-show="proModel.success" class="alert alert-success" role="alert">
        {{proModel.success}}
    </div>

    <form>
        <label for="username">Username</label>
        <input ng-model="proModel.user.username" name="username" id="username" type="text" placeholder="johndoe123" class="form-control" />

        <label for="email">Email</label>
        <input ng-model="proModel.user.email" name="email" id="email" type="email" placeholder="johndoe123@gmail.com" class="form-control" />

        <label for="firstName">First Name</label>
        <input ng-model="proModel.user.firstName" name="firstName" id="firstName" type="text" placeholder="John" class="form-control" />

        <label for="lastName">Last Name</label>
        <input ng-model="proModel.user.lastName" name="lastName" id="lastName" type="text" placeholder="Doe" class="form-control" />

        <!-- <button type="submit" class="btn btn-primary btn-block">Websites</button>
        <button type="submit" class="btn btn-danger btn-block">Logout</button> -->

        <a href="#/user/{{proModel.user._id}}/website" class="btn btn-success btn-block top-margin">Websites</a>
        <a href="#/login" class="btn btn-primary btn-block">Logout</a>
        <button ng-click="proModel.remove(proModel.user)" type="submit" class="btn btn-danger btn-block">Delete Account</button>
    </form>
</main>

<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container pos-rel">
    <div class="navbar-header">
      <a href="#/user/{{proModel.user._id}}" class="navbar-brand">
        <span class="pull-right right vcenter glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</footer>