<main class="container">
    <h1>Register</h1>

    <div ng-show="regModel.error" class="alert alert-danger" role="alert">
        {{regModel.error}}
    </div>

    <form>
        <input ng-model="user.username"
               name="username" 
               id="username" 
               type="text" 
               placeholder="username" 
               class="form-control" />

        <input ng-model="user.password" 
               name="password" 
               id="password" 
               type="password" 
               placeholder="password" 
               class="form-control" />

        <input ng-model="user.verpass" 
               name="verify-password" 
               id="verifyPassword" 
               type="password" 
               placeholder="verify password" 
               class="form-control" />

        <!-- <button type="submit" class="btn btn-primary btn-block">Register</button>
        <button type="submit" class="btn btn-danger btn-block">Cancel</button> -->

        <button ng-click="regModel.register(user)" type="submit" class="btn btn-primary btn-block">Register</button>
        <a href="#/login" class="btn btn-danger btn-block">Cancel</a>
    </form>
</main>