<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container pos-rel">
    <div class="navbar-header">
      <a href="#/user/{{wgEditModel.userId}}/website/{{wgEditModel.websiteId}}/page/{{wgEditModel.pageId}}/widget/">
        <span class="pull-left left glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="navbar-brand glyph-left">
        Widget Edit
      </a>
      <a ng-click="wgEditModel.update(wgEditModel.widget)">
        <span class="pull-right right vcenter glyphicon glyphicon-ok"></span>
      </a>
    </div>
  </div>
</nav>

<main class="container">
    <form>
        <label for="widgetName">Name</label>
        <input ng-model="wgEditModel.widget.name" name="widgetName" id="widgetName" type="text" class="form-control" />

        <label for="widgetText">Text</label>
        <input ng-model="wgEditModel.widget.text" name="widgetText" id="widgetText" type="text" class="form-control" />

        <label for="widgetSize">Size</label>
        <input ng-model="wgEditModel.widget.size" name="widgetSize" id="widgetSize" type="number" class="form-control" />
        
        <!-- <button type="submit" class="btn btn-danger btn-block">Delete</button> -->
        <a ng-click="wgEditModel.remove(wgEditModel.widget)" class="btn btn-danger btn-block">Delete</a>
    </form>
</main>

<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container pos-rel">
    <div class="navbar-header">
      <a href="#/user/{{wgEditModel.userId}}" class="navbar-brand">
        <span class="pull-right right vcenter glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</footer>