<main class="container">
    <h1>Login</h1>
    <form>
        <input name="username" id="username" type="text" placeholder="username" class="form-control" />
        <input name="password" id="password" type="password" placeholder="password" class="form-control" />

        <!-- <button type="submit" class="btn btn-primary btn-block">Login</button>
        <button type="submit" class="btn btn-success btn-block">Register</button> -->

        <a href="profile.html" class="btn btn-primary btn-block">Login</a>
        <a href="register.html" class="btn btn-success btn-block">Register</a>
    </form>
</main>