<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container pos-rel">
    <div class="navbar-header">
      <a class="navbar-brand">
        Profile
      </a>
      <a href="profile.html">
        <span class="pull-right right vcenter glyphicon glyphicon-ok"></span>
      </a>
    </div>
  </div>
</nav>

<main class="container">
    <form>
        <label for="username">Username</label>
        <input name="username" id="username" type="text" placeholder="johndoe123" class="form-control" />

        <label for="email">Email</label>
        <input name="email" id="email" type="email" placeholder="johndoe123@gmail.com" class="form-control" />

        <label for="firstName">First Name</label>
        <input name="firstName" id="firstName" type="text" placeholder="John" class="form-control" />

        <label for="lastName">Last Name</label>
        <input name="lastName" id="lastName" type="text" placeholder="Doe" class="form-control" />

        <!-- <button type="submit" class="btn btn-primary btn-block">Websites</button>
        <button type="submit" class="btn btn-danger btn-block">Logout</button> -->

        <a href="../Website/website-list.html" class="btn btn-primary btn-block top-margin">Websites</a>
        <a href="login.html" class="btn btn-danger btn-block">Logout</a>
    </form>
</main>

<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container pos-rel">
    <div class="navbar-header">
      <a href="profile.html" class="navbar-brand">
        <span class="pull-right right vcenter glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</footer>