<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container pos-rel">
    <div class="navbar-header">
      <a href="#/user/{{pListModel.userId}}/website">
        <span class="pull-left left glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="navbar-brand glyph-left">
        Pages
      </a>
      <a href="#/user/{{pListModel.userId}}/website/{{pListModel.webId}}/page/new">
        <span class="pull-right right vcenter glyphicon glyphicon-plus"></span>
      </a>
    </div>
  </div>
</nav>

<main class="container">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="page in pListModel.pages">
      <a href="#/user/{{pListModel.userId}}/website/{{page.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
      <a href="#/user/{{pListModel.userId}}/website/{{page.websiteId}}/page/{{page._id}}">
        <span class="pull-right glyphicon glyphicon-cog"></span>
      </a>
    </li>
  </ul>
</main>

<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container pos-rel">
    <div class="navbar-header">
      <a href="#/user/{{pListModel.userId}}" class="navbar-brand">
        <span class="pull-right right vcenter glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</footer>