<nav class="navbar navbar-default navbar-fixed-top">
  <div class="pos-rel">
    <div class="navbar-header col-sm-4 hidden-xs">
      <a href="#/user/{{pEditModel.userId}}/website/{{pEditModel.page.websiteId}}/page">
        <span class="pull-left left glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="navbar-brand glyph-left">
        Pages
      </a>
      <a href="#/user/{{pEditModel.userId}}/website/{{pEditModel.page.websiteId}}/page/new">
        <span class="pull-right right vcenter glyphicon glyphicon-plus"></span>
      </a>
    </div>

    <div class="navbar-header col-sm-8">
      <a href="#/user/{{pEditModel.userId}}/website/{{pEditModel.page.websiteId}}/page">
          <span class="pull-left left glyphicon glyphicon-chevron-left hidden-sm hidden-md hidden-lg"></span>
      </a>
      <a class="navbar-brand glyph-left">
        Edit Page
      </a>
      <button ng-click="pEditModel.update(pEditModel.page)" class="pull-right right vcenter btn-link">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </div>
  </div>
</nav>

<aside class="container col-sm-4 hidden-xs">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="page in pEditModel.pages">
      <a href="#/user/{{pEditModel.userId}}/website/{{page.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
      <a href="#/user/{{pEditModel.userId}}/website/{{page.websiteId}}/page/{{page._id}}">
        <span class="pull-right glyphicon glyphicon-cog"></span>
      </a>
    </li>
  </ul>
</aside>

<main class="container col-sm-8">
    <form>
        <label for="pageName">Name</label>
        <input ng-model="pEditModel.page.name" name="pageName" id="pageName" type="text" placeholder="Page Name" class="form-control" />

        <label for="pageTitle">Title</label>
        <input ng-model="pEditModel.page.description" name="pageTitle" id="pageTitle" type="text" placeholder="Page Title" class="form-control" />
        
        <button ng-click="pEditModel.remove(pEditModel.page)" type="submit" class="btn btn-danger btn-block">Delete</button>
    </form>
</main>

<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container pos-rel">
    <div class="navbar-header">
      <a href="#/profile" class="navbar-brand">
        <span class="pull-right right vcenter glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</footer>