<nav class="navbar navbar-default navbar-fixed-top">
  <div class="pos-rel">

    <div class="navbar-header col-sm-4 hidden-xs">
      <a href="#/user/{{wNewModel.userId}}/website/">
        <span class="pull-left left glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="navbar-brand glyph-left">
        Websites
      </a>
      <a href="#/user/{{wNewModel.userId}}/website/new">
        <span class="pull-right right vcenter glyphicon glyphicon-plus"></span>
      </a>
    </div>

    <div class="navbar-header col-sm-8">
      <a href="#/user/{{wNewModel.userId}}/website/">
          <span class="pull-left left glyphicon glyphicon-chevron-left hidden-sm hidden-md hidden-lg"></span>
      </a>
      <a class="navbar-brand glyph-left">
        New Website
      </a>
      <a ng-click="wNewModel.create(web)">
        <span class="pull-right right vcenter glyphicon glyphicon-ok"></span>
      </a>
    </div>

  </div>
</nav>

<aside class="container col-sm-4 hidden-xs">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="website in wNewModel.websites">
      <a href="#/user/{{website._user}}/website/{{website._id}}/page">{{website.name}}</a>
      <a href="#/user/{{website._user}}/website/{{website._id}}">
        <span class="pull-right glyphicon glyphicon-cog"></span>
      </a>
    </li>
  </ul>
</aside>

<main class="container col-sm-8">
    <div ng-show="wNewModel.error" class="alert alert-danger" role="alert">
        {{wNewModel.error}}
    </div>

  <label for="name">Name</label>
  <input ng-model="web.name" name="name" id="name" class="form-control" />

  <label for="description">Description</label>
  <textarea ng-model="web.description" rows="3" name="description" id="description" class="form-control"></textarea>
</main>

<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="pos-rel">
    <div class="navbar-header col-sm-12">
      <a href="#/user/{{wNewModel.userId}}" class="navbar-brand">
        <span class="pull-right right vcenter glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</footer>